* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cover {
  height: 70vh;
  background-image: url("../images/your_verse_hero_2x.jpg");
}

.navbar-list {
  display: flex;
  width: 70%;
  height: 6vh;
  position: absolute;
  top: 10%;
  left: 15%;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  background: rgb(123, 123, 123);
  background: linear-gradient(
    180deg,
    rgba(123, 123, 123, 1) 0%,
    rgba(95, 95, 95, 1) 60%,
    rgba(117, 117, 117, 1) 98%
  );
  color: #fff;
  border: 1px solid rgb(95, 95, 95, 1);
  border-radius: 4px;
}

.cover-content {
  position: absolute;
  width: 60%;
  top: 25%;
  left: 20%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

.cover-content h3 {
  font-weight: lighter;
  font-size: 4em;
  margin-bottom: 2%;
}

.cover-content p {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 2.5%;
}

.cover-linkVideo:hover {
  text-decoration: underline;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 3px;
  grid-gap: 2px;
}

.product-img img {
  width: 100%;
}

.footer {
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 0 auto;
  justify-content: space-around;
  font-size: 0.7em;
}

.site-map_list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.site-map_vSeparator {
  transform: rotete(90deg);
  color: rgb(190, 190, 190);
}
