* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #08c;
}

.cover {
  height: 70vh;
  background: url("../images/your_verse_hero_2x.jpg") 50% 50% no-repeat;
  background-size: cover;
  margin-top: -10px;
  width: 100%;
  padding-top: 100px;
}

.navbar {
  height: 36px;
  width: 80%;
  margin: 0 auto;
}

.navbar-list {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  list-style: none;
  color: #fff;
  border: 1px solid rgb(95, 95, 95, 1);
  border-radius: 4px;
  background: rgb(153, 153, 153);
  background: linear-gradient(180deg, rgba(153, 153, 153, 1) 0%, rgba(95, 95, 95, 1) 66%, rgba(124, 124, 124, 1) 98%);
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

.navbar-list > li {
  display: flex;
  flex: 1;
  height: 100%;
}

.navbar-list > li > a {
  display: flex;
  border-width: 0 2px 0 1px;
  border-style: solid;
  border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAQAAABTNcdGAAAAEUlEQVQIHWP4r8bA8F%2BKwQEADZUCf37PGokAAAAASUVORK5CYII%3D) 0 2 0 1;
  flex: 1;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  height: 100%;
}

.navbar-list > li > a:hover {
  background: rgb(44, 43, 43);
}

.navbar-list > li:first-child > a {
  border-width: 0 2px 0 0;
}

.search-box {
  width: 150px;
  height: 20px;
  border: 0 none;
  padding: 0;
  color: #fff;
  background: url(../images/globalsearch_field.png) 0 0 no-repeat;
  align-self: center;
}

.search-box > input {
  width: 100%;
  height: 100%;
  padding: 2px 18px 1px 22px;
  border-radius: 12px;
  box-sizing: border-box;
  z-index: 0;
  color: #fff;
  background: none;
  margin: 0;
  border: none;
}

.search-box > input:hover,
.search-box > input:focus {
  outline: none;
}

.cover-content {
  position: absolute;
  width: 60%;
  top: 25%;
  left: 20%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

.cover-content h3 {
  font-weight: lighter;
  font-size: 4em;
  margin-bottom: 2%;
}

.cover-content p {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 2.5%;
}

.cover-linkVideo:hover {
  text-decoration: underline;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 3px;
  grid-gap: 2px;
}

.product-img img {
  width: 100%;
}

.footer {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: 0.55em;
  margin-top: 2%;
}

.disclaimer > p {
  float: right;
  margin-right: 10%;
  word-spacing: 6px;
}

.site-map_list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.site-map_list > li{
  border-left: 1px solid rgb(165, 165, 165);
  padding: 0 4px 0 4px;
}

.site-map_list > li > img {
  width: 40%;
}

.copyright > p {
  margin: 2% 0 0 13%;
}
